URxvt.font: xft:mononoki:size=14

! special
*.foreground:   #eceff1
*.background:   #263238
*.cursorColor:  #eceff1

! black
*.color0:       #263238
*.color8:       #37474f

! red
*.color1:       #ff9800
*.color9:       #ffa74d

! green
*.color2:       #8bc34a
*.color10:      #9ccc65

! yellow
*.color3:       #ffc107
*.color11:      #ffa000

! blue
*.color4:       #03a9f4
*.color12:      #81d4fa

! magenta
*.color5:       #e91e63
*.color13:      #ad1457

! cyan
*.color6:       #009688
*.color14:      #26a69a

! white
*.color7:       #cfd8dc
*.color15:      #eceff1



! urxvt*transparent: true
! urxvt*shading: 45
urxvt*depth: 24

==========================================================
URxvt.font: xft:mononoki:size=12

! special
*.foreground:   #c0e0e7
*.background:   #040607
*.cursorColor:  #c0e0e7

! black
*.color0:       #070c0d
*.color8:       #f1833f

! red
*.color1:       #11181a
*.color9:       #beb9ea

! green
*.color2:       #202a2d
*.color10:      #a497f4

! yellow
*.color3:       #354347
*.color11:      #f3b29a

! blue
*.color4:       #4f6368
*.color12:      #f6c3e1

! magenta
*.color5:       #6e8a90
*.color13:      #56daa3

! cyan
*.color6:       #93b7bf
*.color14:      #f0a485

! white
*.color7:       #cfe7ed
*.color15:      #d1d962

! urxvt*transparent: true
! urxvt*shading: 45
urxvt*depth: 24
